.demo {
    border-width: 80px 102px 99px 98px;
    width: 796px;
    height: 621px;
    margin: -40% 0;
    border-image: url(images/ipad.png) 100/100px;
    background-image: url(images/pic01.png), url(images/pic02.png), url(images/pic03.png), url(images/pic04.png), url(images/pic05.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 0px 0px, -796px 0px, -1594px 0px, -2388px 0px, -3184px 0px;
    background-size: 796px 622px;
    animation-name: myfirst; /*设置动画名*/
    animation-duration: 12s; /*动画周期时间*/
    animation-timing-function: linear; /*动画函数*/
    animation-delay: 3s; /*动画延迟时间*/
    animation-iteration-count: infinite; /*动画次数*/
    animation-direction: alternate; /*动画方向*/
    animation-play-state: running; /*动画状态*/
    /* Firefox: */
    -moz-animation-name: myfirst;
    -moz-animation-duration: 12s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
    /* Safari and Chrome: */
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 12s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Opera: */
    -o-animation-name: myfirst;
    -o-animation-duration: 12s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 3s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-play-state: running;
}

@keyframes myfirst /*定义动画关键帧*/
{
    0% {
        background-position: 0px 0px, -796px 0px, -1594px 0px, -2388px 0px, -3184px 0px;
    }

    25% {
        background-position: 796px 0px, 0px 0px, -796px 0px, -1594px 0px, -2388px 0px;
    }

    50% {
        background-position: 1594px 0px, 796px 0px, 0px 0px, -796px 0px, -1594px 0px;
    }

    75% {
        background-position: 2388px 0px, 1594px 0px, 796px 0px, 0px 0px, -796px 0px;
    }

    100% {
        background-position: 3184px 0px, 2388px 0px, 1594px 0px, 796px 0px, 0px 0px;
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    0% {
        background-position: 0px 0px, -796px 0px, -1594px 0px, -2388px 0px, -3184px 0px;
    }

    25% {
        background-position: 796px 0px, 0px 0px, -796px 0px, -1594px 0px, -2388px 0px;
    }

    50% {
        background-position: 1594px 0px, 796px 0px, 0px 0px, -796px 0px, -1594px 0px;
    }

    75% {
        background-position: 2388px 0px, 1594px 0px, 796px 0px, 0px 0px, -796px 0px;
    }

    100% {
        background-position: 3184px 0px, 2388px 0px, 1594px 0px, 796px 0px, 0px 0px;
    }
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0% {
        background-position: 0px 0px, -796px 0px, -1594px 0px, -2388px 0px, -3184px 0px;
    }

    25% {
        background-position: 796px 0px, 0px 0px, -796px 0px, -1594px 0px, -2388px 0px;
    }

    50% {
        background-position: 1594px 0px, 796px 0px, 0px 0px, -796px 0px, -1594px 0px;
    }

    75% {
        background-position: 2388px 0px, 1594px 0px, 796px 0px, 0px 0px, -796px 0px;
    }

    100% {
        background-position: 3184px 0px, 2388px 0px, 1594px 0px, 796px 0px, 0px 0px;
    }
}

@-o-keyframes myfirst /* Opera */
{
    0% {
        background-position: 0px 0px, -796px 0px, -1594px 0px, -2388px 0px, -3184px 0px;
    }

    25% {
        background-position: 796px 0px, 0px 0px, -796px 0px, -1594px 0px, -2388px 0px;
    }

    50% {
        background-position: 1594px 0px, 796px 0px, 0px 0px, -796px 0px, -1594px 0px;
    }

    75% {
        background-position: 2388px 0px, 1594px 0px, 796px 0px, 0px 0px, -796px 0px;
    }

    100% {
        background-position: 3184px 0px, 2388px 0px, 1594px 0px, 796px 0px, 0px 0px;
    }
}
